{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | MainController de test{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Tests dans  src/Controller/{{ controller_name }}! ✅</h1>
    <p>Le controller est bien chargé et le test est bien lancé.</p>
    <nav>
        <ul>
            <li><a href="{{ path('app_main') }}">Page d'accueil</a></li>
            <li><a href="{{ path('app_starships') }}">Json</a></li>
        </ul>
    <h2>Exemple de test d'un controller</h2>
    <p>Ci-dessous un javascript venant de stimulus</p>
    <p data-controller="hello"></p>
</div>
{% endblock %}
